footer {
  background-color: #333;
  padding: 5rem;
  @include respond(tablet) {
    padding: 3rem;
    text-align: center;
  }
  & p {
    font-size: 1.6rem;
    color: #888;
    text-align: center;
    margin-top: 3rem;
  }
}

.footer-nav {
  list-style: none;
  float: left;
  @include respond(tablet) {
    width: 100%;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;

      padding: 0.8rem;
      font-size: 1.8rem;
      font-weight: 400;
      text-decoration: none;
      color: #888;
      transition: color 0.2s;

      &:hover,
      &:active {
        color: #ddd;
      }
    }
  }
}
.social-links {
  list-style: none;
  float: right;
  text-align: right;

  @include respond(tablet) {
    text-align: center;
  }
  @include respond(medium-devices) {
    margin-top: 2rem;
  }
  &__item {
    display: inline-block;

    @include respond(medium-devices) {
      padding: 1rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      position: relative;
      padding: 2rem;
      font-size: 2.5rem;
      text-decoration: none;
      color: #888;

      &:hover,
      &:active {
        .ion-social-facebook {
          color: #3b5998;
        }
        .ion-social-twitter {
          color: #00aced;
        }
        .ion-social-googleplus {
          color: #dd4b39;
        }
        .ion-social-instagram {
          color: #517fa4;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

/*.ion-social-facebook:hover {
  color: #3b5998;
}*/
.ion-social-twitter:hover {
  color: #00aced;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}
