blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 4rem;
  @include respond(medium-devices) {
    margin-top: 6rem;
  }
  &:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -0.5rem;
  }
}
.johnny-blockquote {
  margin-bottom: 5.3rem;
  margin-top: 4rem;
  @include respond(medium-devices) {
    margin-top: 6rem;
    margin-bottom: 0.5rem;
  }
  &:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -0.5rem;
  }
}

.cite-customer {
  font-size: 90%;
  display: block;
  @include respond(medium-devices) {
    text-align: right;
  }
}

.cite-img {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
  vertical-align: middle;
}

.johnny-cite {
  font-size: 90%;
  height: 5rem;
  border-radius: 50%;

  display: block;
  @include respond(medium-devices) {
    text-align: right;
  }
  &__img {
    height: 5rem;
    width: 4.7rem;
    border-radius: 50%;
    margin-right: 1rem;
    vertical-align: middle;
  }
}
