.section-features {
  &__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.5rem;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3rem;
    font-weight: 400;
  }
}

.feature-box {
  padding: 1%;
  text-align: center;
  @include respond(medium-devices) {
    margin-top: 2rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__icon {
    font-size: 400%;
    display: block;
    color: $btn-color;
  }
}
