.link-cities {
  &,
  &:link,
  &:visited {
    font-size: 1.8rem;
    color: $btn-color;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid $btn-color;
    transition: border-bottom 0.2s, color 0.2s;
  }

  &:hover,
  &:active {
    color: #555;
    border-bottom: 1px solid transparent;
  }
}
