.step-box {
  &:first-child {
    text-align: right;
    padding-right: 6%;
    margin-top: 3rem;
    @include respond(tablet) {
      text-align: center;
    }
    @include respond(medium-devices) {
      text-align: center;
      padding-right: 0;
    }
  }

  &:last-child {
    padding-left: 3%;
    margin-top: 7rem;
  }

  &__iphone {
    width: 40%;
    @include respond(tablet) {
      width: 40%;
    }
  }

  &__img {
    width: 100%;
  }
}
