.small-margin {
  margin: 0 0 3rem 0;
}
.small-margin-top {
  margin: 1rem 0 0 0;
}

.med-margin {
  margin: 0 0 5rem 0;
}

.center {
  text-align: center;
}

//---- Media queries -------

@media only screen and (max-width: 1200px) {
  .header__text-box {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  .header__text-box {
    left: 45%;
    width: 80%;
  }
}

@include respond(tablet) {
  html {
    font-size: 60%;
  }
  .header__text-box {
    left: 55%;
    width: 90%;
  }
  .row {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .col-flex {
    display: flex;
    justify-content: center;
  }
  .mobile-nav-icon {
    display: inline-block;
  }
  .navigation__list {
    display: none;
    flex-grow: 1;
    margin-top: 4rem;
  }
  .navigation__item {
    display: flex;
    flex-direction: column;
  }
}

@include respond(tablet) {
  .header__text-box {
    top: 60%;
  }
}

@include respond(medium-devices) {
  .header {
    height: 90vh;
  }
}
@include respond(small-devices) {
  .header__text-box {
    left: 50%;
    top: 58%;
  }
  .header {
    height: 80vh;
  }
  .navigation__list {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 350px) {
  .header__text-box {
    top: 50%;
  }
}
