section {
  padding: 8rem 0;
  @include respond(tablet) {
    padding: 6rem 0;
  }
  @media only screen and(max-width:468px) {
    padding: 3rem 0;
  }
}
.section-meals {
  padding: 0;
}

.section-steps {
  background-color: #f4f4f4;
}

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  font-size: 1.8rem;
  background-attachment: fixed;
}

.section-plans {
  background-color: #f4f4f4;
}
